low latency
![[Pasted image 20230106192835.png]]
![[Pasted image 20230106192929.png]]

high latency
![[Pasted image 20230106201240.png]]
![[Pasted image 20230106201347.png]]